{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="row mb-5">
		<div class="col-md-1"></div>
		<div class="col-md-7  mt-5">
			<p class="nom">Michael Walenciak</p>

			<h3 class="">Dévellopeur web Fullstack</h3>
			<h4>Votre futur develloppeur web</h4>
		</div>
		<div class="col-md-3 mt-5 ">
			<img class="myself ms-5 mt-5" src="{{ asset('build/images/mikecv.232637bb.jpg') }}" alt="moi-meme">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-7 d-flex justify-content-center">

			<div class="btn btn-dark col-md-3 p-4 rounded">Un projet en tete ? </div>
</div>
</div>
{% endblock %} 