{% extends 'base.html.twig' %}

{% block title %}Michael Walenciak
{% endblock %}

{% block body %}
	<div class="row mb-3 ">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<p class="nom fw-bold mt-4">Michael Walenciak</p>
			<div class=" ms-5">
				<h3 class="fw-bold mt-5 mb-5">Dévellopeur web Fullstack</h3>

				<h4 class="mt-3 ms-5">Votre futur develloppeur web</h4>
				<div class="d-flex justify-content-center mt-5">
					<a class="btn btn-primary" href="">{{ "envieProjet" | trans({}, 'index') }}</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<img class="img-fluid" src="{{ asset('/build/images/dev.0d39b871.png') }}" alt="moi-meme">
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}
