// assets/styles/global.scss

// customize some Bootstrap variables
$primary: darken(#1e00c7,0%);
$danger: darken(#4f0055,0%);
$dark: darken(rgb(1, 1, 29),0%);
$light: darken(#0d88b5,0%);


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


@import "./_navbar.scss";
@import "./footer.scss";
@import "./graphics.scss"
