
* {
    font-family: "Raleway", sans-serif;
  }


$theme-colors: (
  "primary": #00d92f,
  "danger": #ff4136
);




.nom{
    font-size: 60px;
}

.myself{
    width: 250px;
    height: 340px;
}

::selection
{
    background-color: #6666fc;
    color: white;
}

.fond {
    background-color:rgb(10, 0, 34);
}

.tools img
{
    height:14rem;
    list-style: none;
}


.logo

{
    height:80px;
}

.picofme{
    width: 60%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.name{
    font-size: 10em ;
}

#notyf-message {
    display: none;
}

.bg-dark, .bg-white, .text-black, .text-white {
    transition: background-color 0.6s ease, color 0.6s ease;
}

.hauteur {
    height: 250px !important;
    background-color: transparent !important;

}


    .hauteur {
        margin-bottom: 20px; /* Ajoute un espace entre la div hauteur et le carousel */
    }

    #myCarousel {
        position: relative; /* Assure que le carousel reste dans le flux normal du document */
    }

    .carousel-item {
        height: 500px; /* Ajustez cette valeur selon vos besoins */
    }

    .carousel-caption {
        bottom: 3rem;
        z-index: 10;
    }

.photoimg{
    height: 20em;
    margin-left: auto !important;
    margin-right: auto;
    margin-top: 50px;

}