@font-face {
    font-family: 'HollaScript';
    src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap') format("ttf");
  }

*
{
    color:white;   
}
$theme-colors: (
  "primary": #00d92f,
  "danger": #ff4136
);



.nom{
    color: rgb(255, 255, 255);
    font-size: 60px;
}

.myself{
    width: 250px;
    height: 340px;
    border-radius: 100%;
}

::selection
{
    background-color: rgb(80, 0, 72);
    color: white;
}

.fond {
    background-color:rgb(10, 0, 34);
}

.tools img
{
    height:14rem;
    list-style: none;
}


.logo

{
    height:20px;
}

.picofme{
    height: 400px;
    justify-content: center;
    border-radius: 100%;

}

.name{
    font-size: 150px ;
}

