*
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-color:rgb(232, 232, 232);
}

.nom{
    color: rgb(0, 0, 0);
    font-size: 90px;
}

.myself{
    width: 250px;
    height: 330px;
    border-radius: 100%;
}

