{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index</h1>

    <div class="row">
        {% for contact in contacts %}
            <div class="col-md-4 mb-4">
                {% include 'components/cards.html.twig' %}
            </div>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    </div>

    <a href="{{ path('app_contact_new') }}">Create new</a>
{% endblock %}

