		<!-- FOOTER -->
		<footer class="container text-white">
			<p class="float-end">
				<a href="#" class="text-white">Back to top</a>
			</p>
			<p>© 2017–2021 Company, Inc. ·
				<a href="#" class="text-white">Privacy</a>
				·
				<a href="#" class="text-white">Terms</a>
			</p>
		</footer>